@font-face {
  font-family: 'texgyreheroscnregular';
  src: url("../fonts/texgyreheroscn-regular-webfont.eot");
  src: url("../fonts/texgyreheroscn-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/texgyreheroscn-regular-webfont.woff") format("woff"), url("../fonts/texgyreheroscn-regular-webfont.ttf") format("truetype"), url("../fonts/texgyreheroscn-regular-webfont.svg#texgyreheroscnregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreherosregular';
  src: url("../fonts/texgyreheros-regular-webfont.eot");
  src: url("../fonts/texgyreheros-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/texgyreheros-regular-webfont.woff") format("woff"), url("../fonts/texgyreheros-regular-webfont.ttf") format("truetype"), url("../fonts/texgyreheros-regular-webfont.svg#texgyreherosregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 51, ../sass/_vars.scss */
.test {
  font-family: 'Virtuosa Classic LT W01';
  font-family: 'Garamond Prmr W01 Md';
  font-family: 'Garamond Prmr W01 Dspl';
  font-family: 'Lucida Sans W01 Roman';
  font-family: 'Gill Sans W04 Condensed';
  font-family: 'Neue Helvetica W04 39 C1289726';
  font-family: 'HelveticaNeueW02-ThinCn 674417';
  font-family: 'HelveticaNeueW02-Thin';
  font-family: 'Minion W01 Cap Regular';
  font-family: 'PT Sans', sans-serif;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 43, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 55, ../sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 65, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 76, ../sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 87, ../sass/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 96, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 107, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 116, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 124, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 133, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 151, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 160, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 171, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 182, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 190, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 201, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 209, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 219, ../sass/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 230, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 254, ../sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 264, ../sass/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 276, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 291, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 301, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 310, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 320, ../sass/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 333, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 345, ../sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 355, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 369, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 377, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 388, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 397, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 406, ../sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 417, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 423, ../sass/_normalize.scss */
td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
/* line 5, ../sass/_underscore.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 10, ../sass/_underscore.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 15, ../sass/_underscore.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
/* line 35, ../sass/_underscore.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

/* line 45, ../sass/_underscore.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
/* line 52, ../sass/_underscore.scss */
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
/* line 57, ../sass/_underscore.scss */
.widget select {
  max-width: 100%;
}

/* Search widget */
/* line 62, ../sass/_underscore.scss */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
/* line 74, ../sass/_underscore.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 78, ../sass/_underscore.scss */
.byline,
.updated {
  display: none;
}

/* line 82, ../sass/_underscore.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 87, ../sass/_underscore.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 90, ../sass/_underscore.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
/* line 99, ../sass/_underscore.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
/* line 106, ../sass/_underscore.scss */
.comment-content a {
  word-wrap: break-word;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 117, ../sass/_underscore.scss */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 121, ../sass/_underscore.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
/* line 130, ../sass/_underscore.scss */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* line 136, ../sass/_underscore.scss */
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 141, ../sass/_underscore.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}

/* line 146, ../sass/_underscore.scss */
.wp-caption-text {
  text-align: center;
}

/* line 149, ../sass/_underscore.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 152, ../sass/_underscore.scss */
.site-main .gallery {
  margin-bottom: 1.5em;
}

/* line 157, ../sass/_underscore.scss */
.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}

/* line 163, ../sass/_underscore.scss */
.site-main .gallery dd,
.site-main .gallery figcaption {
  margin: 0;
}

/* Make sure embeds and iframes fit their containers */
/* line 173, ../sass/_underscore.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/* line 1, ../sass/_grid.scss */
.grid {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  z-index: 100;
}
/* line 7, ../sass/_grid.scss */
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../sass/_grid.scss */
[class*='col-'] {
  float: left;
  padding-right: 20px;
}
/* line 21, ../sass/_grid.scss */
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 27, ../sass/_grid.scss */
.col-1 {
  width: 100%;
}

/* line 31, ../sass/_grid.scss */
.col-2-3 {
  width: 66.66%;
}
@media (max-width: 768px) {
  /* line 31, ../sass/_grid.scss */
  .col-2-3 {
    float: none;
    width: 100%;
  }
}

/* line 39, ../sass/_grid.scss */
.col-1-3 {
  width: 33.33%;
}
@media (max-width: 768px) {
  /* line 39, ../sass/_grid.scss */
  .col-1-3 {
    float: none;
    width: 100%;
  }
}

/* line 49, ../sass/_grid.scss */
.col-1-2 {
  width: 50%;
}
@media (max-width: 768px) {
  /* line 49, ../sass/_grid.scss */
  .col-1-2 {
    float: none;
    width: 100%;
  }
}

/* line 57, ../sass/_grid.scss */
.col-1-4 {
  width: 25%;
}
@media (max-width: 768px) {
  /* line 57, ../sass/_grid.scss */
  .col-1-4 {
    float: none;
    width: 100%;
  }
}

/* line 65, ../sass/_grid.scss */
.col-1-8 {
  width: 12.5%;
  min-width: 100px;
}

/* line 71, ../sass/_grid.scss */
.module {
  padding: 20px;
}

/* Opt-in outside padding */
/* line 77, ../sass/_grid.scss */
.grid-pad {
  padding: 20px 0 20px 20px;
}
/* line 79, ../sass/_grid.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* line 1, ../sass/_global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_global.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 11, ../sass/_global.scss */
body {
  background-color: #fbfbfb;
}

/* =Global
----------------------------------------------- */
/* line 19, ../sass/_global.scss */
.brd-line {
  width: 100px;
  display: inline-block;
  border-bottom: 2px solid;
}

/* line 26, ../sass/_global.scss */
.dark .brd-line {
  border-color: #fbfbfb;
}

/* line 32, ../sass/_global.scss */
.light .brd-line {
  border-color: #333333;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
/* line 41, ../sass/_global.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 48, ../sass/_global.scss */
figure {
  margin: 0;
}

/* line 51, ../sass/_global.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 55, ../sass/_global.scss */
th {
  font-weight: bold;
}

/* line 59, ../sass/_global.scss */
p {
  margin-bottom: 1.5em;
}

/* line 62, ../sass/_global.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 65, ../sass/_global.scss */
ul {
  list-style: disc;
}

/* line 68, ../sass/_global.scss */
ol {
  list-style: decimal;
}

/* line 72, ../sass/_global.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 76, ../sass/_global.scss */
dt {
  font-weight: bold;
}

/* line 79, ../sass/_global.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 83, ../sass/_global.scss */
b, strong {
  font-weight: bold;
}

/* Text meant only for screen readers */
/* line 92, ../sass/_global.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 99, ../sass/_global.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* line 1, ../sass/_layout.scss */
body {
  height: 100%;
}
/* line 5, ../sass/_layout.scss */
body.light {
  background-color: #fbfbfb;
  color: #333333;
}
/* line 10, ../sass/_layout.scss */
body.dark {
  background-color: #000;
  color: #fbfbfb;
}

/* line 18, ../sass/_layout.scss */
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* line 25, ../sass/_layout.scss */
.hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  /* line 25, ../sass/_layout.scss */
  .hero {
    position: relative;
  }
}

/* line 37, ../sass/_layout.scss */
.content_wrap {
  width: 90%;
  margin: 0 auto;
}

/* line 1, ../sass/_header.scss */
.site-header {
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 8, ../sass/_header.scss */
.site-header.playVideo {
  display: none;
}

/* line 14, ../sass/_header.scss */
.site-branding {
  width: 170px;
  height: 62px;
  float: left;
  background-color: black;
}

/* line 21, ../sass/_header.scss */
.site-title {
  font-family: 'CF Sinclair W01 Regular';
  text-align: left;
  line-height: 1em;
  margin: 0;
  padding: .3em .3em .3em 1em;
  font-size: 2.3em;
}
/* line 29, ../sass/_header.scss */
.site-title a {
  color: #fff;
  text-decoration: none;
}
/* line 30, ../sass/_header.scss */
.site-title a:visited {
  color: #fff;
}
/* line 34, ../sass/_header.scss */
.site-title a:hover {
  color: #fbfbfb;
}

/* line 1, ../sass/_footer.scss */
#colophon {
  width: 100%;
  display: none;
}

/* line 6, ../sass/_footer.scss */
.site-footer {
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 12, ../sass/_footer.scss */
.site-footer ul {
  padding: 2em 5%;
}
/* line 15, ../sass/_footer.scss */
.site-footer ul li {
  padding: 0 1em;
  line-height: 1em;
  border-right: 1px solid #fbfbfb;
  color: #fbfbfb;
}
/* line 20, ../sass/_footer.scss */
.site-footer ul li:first-of-type {
  padding-left: 0;
}
/* line 22, ../sass/_footer.scss */
.site-footer ul li:last-of-type {
  border-right: none;
}
/* line 26, ../sass/_footer.scss */
.site-footer ul li a {
  color: #fbfbfb;
}

/* -----------------------------------------
   Typography Styles
----------------------------------------- */
/* line 9, ../sass/_typography.scss */
html,
body,
button,
input,
select,
textarea {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 17px;
  line-height: 1.5em;
  color: #333333;
}

/* Links */
/* line 19, ../sass/_typography.scss */
a {
  color: #333333;
}

/* line 22, ../sass/_typography.scss */
a:visited {
  color: #333333;
}

/* line 30, ../sass/_typography.scss */
.no-touch a:hover,
.no-touch a:focus,
.no-touch a:active {
  color: #333333;
}

/* line 38, ../sass/_typography.scss */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 43, ../sass/_typography.scss */
a.active {
  color: red;
}

/* line 47, ../sass/_typography.scss */
h1 {
  color: #fbfbfb;
  margin-top: 1.5em;
}

/* line 51, ../sass/_typography.scss */
h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
}

/* heaadings */
/* line 60, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "News Cycle", sans-serif;
  line-height: 1.5em;
  font-weight: normal;
}

/* line 67, ../sass/_typography.scss */
h1 {
  font-size: 2.5em;
}

/* line 70, ../sass/_typography.scss */
h2 {
  font-size: 2.5em;
}

/* line 74, ../sass/_typography.scss */
h3 {
  font-size: 1.5em;
}

/* line 78, ../sass/_typography.scss */
h4 {
  font-size: 1.2em;
}

/* Text meant only for screen readers */
/* line 84, ../sass/_typography.scss */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* -----------------------------------------
   Navigation Styles
----------------------------------------- */
/* line 6, ../sass/_nav.scss */
.nav {
  list-style: none;
  margin-left: 0;
}
/* line 16, ../sass/_nav.scss */
.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-decoration: none;
}
/* line 21, ../sass/_nav.scss */
.nav > li :hover,
.nav > li > a :hover {
  text-decoration: none;
}

/* from underscores style.css = Menu
----------------------------------------------- */
/* line 33, ../sass/_nav.scss */
.main-navigation {
  display: block;
  float: right;
}

/* line 39, ../sass/_nav.scss */
.main-navigation ul {
  list-style: none;
  margin: .5em 0 0 0;
  padding: 0;
  font-family: "News Cycle", sans-serif;
}
/* line 47, ../sass/_nav.scss */
.main-navigation ul > li:last-of-type {
  margin-right: 0;
}
/* line 49, ../sass/_nav.scss */
.main-navigation ul > li:last-of-type .slant {
  opacity: 0;
}
/* line 53, ../sass/_nav.scss */
.main-navigation ul > li > a {
  padding: 1em 2.3em;
  color: #fbfbfb;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9em;
  line-height: .9em;
}
/* line 62, ../sass/_nav.scss */
.main-navigation ul > li .slant {
  display: inline-block;
  width: 2px;
  height: 38px;
  border-right: 1px solid #fbfbfb;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-bottom: -.65em;
}

/* line 76, ../sass/_nav.scss */
.main-navigation.toggled .slant {
  display: none;
}

/* line 81, ../sass/_nav.scss */
.main-navigation li {
  float: left;
  position: relative;
}

/* line 113, ../sass/_nav.scss */
.main-navigation ul li:hover > ul {
  display: block;
}

/* Small menu */
/* line 121, ../sass/_nav.scss */
.menu-toggle {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  /* line 128, ../sass/_nav.scss */
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  /* line 132, ../sass/_nav.scss */
  .menu-toggle {
    width: 40px;
    height: 40px;
    float: right;
    margin: 10px;
  }

  /* line 139, ../sass/_nav.scss */
  .main-navigation {
    float: none;
    clear: both;
  }

  /* line 144, ../sass/_nav.scss */
  .main-navigation ul {
    display: none;
  }
  /* line 148, ../sass/_nav.scss */
  .main-navigation ul li {
    float: none;
    width: 100%;
  }
  /* line 152, ../sass/_nav.scss */
  .main-navigation ul li a {
    display: block;
    padding: .5em .5em 1em .5em;
  }
}
/* --------- Jason styles -----------*/
/* Sticky Nav */
/* line 257, ../sass/_nav.scss */
.blob {
  fill: #333333;
}

/* line 262, ../sass/_nav.scss */
.dark .blob {
  fill: #fbfbfb;
}

/* line 269, ../sass/_nav.scss */
.item_nav {
  position: fixed;
  top: 50%;
}
/* line 274, ../sass/_nav.scss */
.item_nav.on a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 279, ../sass/_nav.scss */
.item_nav a {
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 289, ../sass/_nav.scss */
.item_nav a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 294, ../sass/_nav.scss */
.item_nav.nav-previous {
  left: 0;
}
/* line 301, ../sass/_nav.scss */
.item_nav.nav-next {
  right: 0;
}

/* line 1, ../sass/_item.scss */
.itemList {
  width: 50%;
  margin: 4em auto;
  padding: 0;
}
/* line 6, ../sass/_item.scss */
.itemList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  -ms-column-gap: 5px;
  -o-column-gap: 5px;
  column-gap: 5px;
}
/* line 14, ../sass/_item.scss */
.itemList ul li {
  list-style: disc;
  text-align: left;
  margin-bottom: .2em;
}
/* line 18, ../sass/_item.scss */
.itemList ul li a {
  font-family: "News Cycle", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  color: #fbfbfb;
  text-decoration: none;
  padding: 0 2em;
  line-height: 1em;
}
/* line 29, ../sass/_item.scss */
.itemList ul li a:hover {
  text-decoration: underline;
}

/* line 46, ../sass/_item.scss */
.item-content {
  position: relative;
  z-index: 10;
}
@media (max-width: 768px) {
  /* line 51, ../sass/_item.scss */
  .item-content h1 {
    margin-top: 0;
  }
}

/* line 57, ../sass/_item.scss */
.line {
  width: 240px;
  border-bottom: 1px solid #fbfbfb;
}

/* line 62, ../sass/_item.scss */
.item-details {
  margin: 2em 0;
  padding: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
}
/* line 69, ../sass/_item.scss */
.item-details p {
  margin-top: 0;
}
@media (max-width: 560px) {
  /* line 62, ../sass/_item.scss */
  .item-details {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    -ms-column-gap: 0px;
    -o-column-gap: 0px;
    column-gap: 0px;
  }
}

/* line 79, ../sass/_item.scss */
.videoHolder {
  width: 100%;
  margin-top: 1em;
}
/* line 87, ../sass/_item.scss */
.videoHolder.time {
  background: url(../images/KI_video_3.png) top left no-repeat;
}
/* line 91, ../sass/_item.scss */
.videoHolder._4m2 {
  background: url(../images/KI_video_3.png) top left no-repeat;
  width: 500px;
  height: 320px;
  background-size: 100%;
}

/* line 103, ../sass/_item.scss */
.light .item-content h1 {
  color: #333333;
}

/* line 113, ../sass/_item.scss */
#post-23 .entry-content {
  margin: 0;
}
/* line 117, ../sass/_item.scss */
#post-23.col-1-2 {
  width: 33.33%;
}
@media (max-width: 768px) {
  /* line 117, ../sass/_item.scss */
  #post-23.col-1-2 {
    float: none;
    width: 100%;
  }
}
/* line 125, ../sass/_item.scss */
#post-23.item-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fbfbfb;
  padding: 1em;
  margin-top: 1em;
}
/* line 131, ../sass/_item.scss */
#post-23.item-content h1 {
  color: #fbfbfb;
}
/* line 135, ../sass/_item.scss */
#post-23.item-content .brd-line {
  color: #fbfbfb;
}

/* line 12, ../sass/_vid-overlay.scss */
#overLayH1 {
  color: #fbfbfb;
  color: black;
  font-family: 'News Cycle', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  opacity: 0;
  position: absolute;
  z-index: 20;
  top: 40%;
  left: 40%;
}

/* line 30, ../sass/_vid-overlay.scss */
#overLayH1 a {
  text-decoration: none;
  color: #fbfbfb;
  padding: 0 .2em .2em .2em;
}

/* video position: */
/* line 47, ../sass/_vid-overlay.scss */
.videoWrapper {
  position: relative;
  z-index: 10;
  /*    margin-top: -3em;
  */
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 500ms ease-out 1s;
  -moz-transition: all 500ms ease-out 1s;
  -o-transition: all 500ms ease-out 1s;
  transition: all 500ms ease-out 1s;
}

/* line 61, ../sass/_vid-overlay.scss */
.videoWrapper.fadein {
  opacity: 1;
}

/* line 65, ../sass/_vid-overlay.scss */
#introVideo {
  width: 100%;
  min-width: 100%;
}

/* controls */
/* line 75, ../sass/_vid-overlay.scss */
.vidControls {
  position: absolute;
  z-index: 900;
  bottom: 0;
  right: 0;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* line 85, ../sass/_vid-overlay.scss */
.vidControls li {
  display: inline-block;
  margin: 0 0 .2em 0;
  padding: 0;
  list-style: none;
}

/* line 93, ../sass/_vid-overlay.scss */
.vidControls span {
  display: block;
  padding: 1em;
  width: 100px;
  font-size: 2em;
  font-family: 'News Cycle', sans-serif;
  font-family: 'HelveticaNeueW02-ThinCn 674417';
  font-weight: normal;
}

/* line 103, ../sass/_vid-overlay.scss */
.vidControls span:hover {
  cursor: pointer;
}

/* clear floats */
/* line 2, ../sass/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 3, ../sass/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 4, ../sass/_helpers.scss */
.clearfix {
  zoom: 1;
}

/* line 6, ../sass/_helpers.scss */
.group:after, .site-header:after, .item-details:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 7, ../sass/_helpers.scss */
.group, .site-header, .item-details {
  display: inline-block;
  clear: both;
}

/* start commented backslash hack \*/
/* line 8, ../sass/_helpers.scss */
* html .group, * html .site-header, * html .item-details {
  height: 1%;
}

/* line 8, ../sass/_helpers.scss */
.group, .site-header, .item-details {
  display: block;
}

/* close commented backslash hack */
/* line 13, ../sass/_helpers.scss */
.clear {
  clear: both;
}

/* line 18, ../sass/_helpers.scss */
.cf, .nav {
  zoom: 1;
}
/* line 22, ../sass/_helpers.scss */
.cf:before, .nav:before, .cf:after, .nav:after {
  content: " ";
  display: table;
}
/* line 27, ../sass/_helpers.scss */
.cf:after, .nav:after {
  clear: both;
}

/* line 3, ../sass/_style-guide.scss */
.style-guide h1 {
  margin-top: 0;
}
/* line 7, ../sass/_style-guide.scss */
.style-guide article {
  margin-bottom: 150px;
  height: 100%;
}
/* line 14, ../sass/_style-guide.scss */
.style-guide article.one .col-1-3, .style-guide article.one .col-2-3 {
  font-family: 'Lucida Sans W01 Roman';
}
/* line 21, ../sass/_style-guide.scss */
.style-guide article.one .col-1-3 h1, .style-guide article.one .col-2-3 h1 {
  text-align: left;
  font-family: 'Virtuosa Classic LT W01';
  font-weight: normal;
}
/* line 27, ../sass/_style-guide.scss */
.style-guide article.one .col-1-3 h2, .style-guide article.one .col-1-3 h3, .style-guide article.one .col-2-3 h2, .style-guide article.one .col-2-3 h3 {
  font-family: 'Virtuosa Classic LT W01';
  font-weight: normal;
}
/* line 39, ../sass/_style-guide.scss */
.style-guide article.two .col-1-3, .style-guide article.two .col-2-3 {
  font-family: 'Lucida Sans W01 Roman';
}
/* line 47, ../sass/_style-guide.scss */
.style-guide article.two .col-1-3 h1, .style-guide article.two .col-2-3 h1 {
  text-align: left;
  font-family: 'Garamond Prmr W01 Dspl';
  font-weight: normal;
}
/* line 53, ../sass/_style-guide.scss */
.style-guide article.two .col-1-3 h2, .style-guide article.two .col-1-3 h3, .style-guide article.two .col-2-3 h2, .style-guide article.two .col-2-3 h3 {
  font-family: 'Garamond Prmr W01 Dspl';
  font-weight: normal;
}
/* line 70, ../sass/_style-guide.scss */
.style-guide article.three .col-1-3, .style-guide article.three .col-2-3 {
  font-family: 'HelveticaNeueW02-ThinCn 674417';
}
/* line 77, ../sass/_style-guide.scss */
.style-guide article.three .col-1-3 p, .style-guide article.three .col-1-3 ul, .style-guide article.three .col-1-3 ol, .style-guide article.three .col-2-3 p, .style-guide article.three .col-2-3 ul, .style-guide article.three .col-2-3 ol {
  font-size: 20px;
}
/* line 81, ../sass/_style-guide.scss */
.style-guide article.three .col-1-3 h1, .style-guide article.three .col-2-3 h1 {
  text-align: left;
  font-family: 'Minion W01 Cap Regular';
  font-weight: normal;
}
/* line 87, ../sass/_style-guide.scss */
.style-guide article.three .col-1-3 h2, .style-guide article.three .col-1-3 h3, .style-guide article.three .col-2-3 h2, .style-guide article.three .col-2-3 h3 {
  font-family: 'Minion W01 Cap Regular';
  font-weight: normal;
}
/* line 106, ../sass/_style-guide.scss */
.style-guide article.four .col-1-3, .style-guide article.four .col-2-3 {
  font-family: 'Garamond Prmr W01 Md';
  font-size: 19px;
}
/* line 114, ../sass/_style-guide.scss */
.style-guide article.four .col-1-3 h1, .style-guide article.four .col-2-3 h1 {
  text-align: left;
  font-family: 'Gill Sans W04 Condensed';
  font-weight: normal;
}
/* line 120, ../sass/_style-guide.scss */
.style-guide article.four .col-1-3 h2, .style-guide article.four .col-1-3 h3, .style-guide article.four .col-2-3 h2, .style-guide article.four .col-2-3 h3 {
  font-family: 'Gill Sans W04 Condensed';
  font-weight: normal;
}
/* line 137, ../sass/_style-guide.scss */
.style-guide article.five .col-1-3, .style-guide article.five .col-2-3 {
  font-family: 'Garamond Prmr W01 Md';
  font-size: 19px;
}
/* line 145, ../sass/_style-guide.scss */
.style-guide article.five .col-1-3 h1, .style-guide article.five .col-2-3 h1 {
  text-align: left;
  font-family: 'HelveticaNeueW02-ThinCn 674417';
  font-weight: normal;
}
/* line 151, ../sass/_style-guide.scss */
.style-guide article.five .col-1-3 h2, .style-guide article.five .col-1-3 h3, .style-guide article.five .col-2-3 h2, .style-guide article.five .col-2-3 h3 {
  font-family: 'HelveticaNeueW02-ThinCn 674417';
  font-weight: normal;
}
/* line 165, ../sass/_style-guide.scss */
.style-guide .color-block {
  padding: 1em 0;
}
/* line 167, ../sass/_style-guide.scss */
.style-guide .color-block .blocks {
  padding: 2em 1em 20em;
  background-color: #333;
}
/* line 175, ../sass/_style-guide.scss */
.style-guide .col-1-3:nth-child(1) > ul {
  margin-top: 1.5em;
}
