body {
	height: 100%;
	background-color: #000;

	&.light {
		#page {
			background-color: #fbfbfb;
			color: $body_color;		
		}

	}

	&.dark {
		#page {
			background-color: #000;
			color: $off_white;		
		}

	}
}



.wrapper {
	max-width: $max-width;
	margin: 0 auto;
	overflow: hidden;
	@include opacity(0);
}


.hero {
	position: absolute;
	width: $max-width;
	height:100%;
	top: 0;
	left: 0;
	z-index: 1;
	@include breakpoint(mama-bear) {
		position: relative;
	}	
}
@include breakpoint(mama-bear) {
	.single-portfolio {
		.hero {
			display: none;
		}
	}
}



.content_wrap {
	width: 90%;
	margin:0 auto;
}


















