// over-rides for workshops page
#post-23 {

	.entry-content {
		margin: 0;
	}

	&.col-1-2 {
		width: 33.33%;
	    @include breakpoint( mama-bear) {
	        float:none;
	        width:100%;
	    }  		
	}

	&.item-content {
		@extend .tint;
	}
}

// timedropper specific 
.post-35 {
	.hero {
		top: 62px;
	}
}

// work page specific
.post-15 {
	.hero {
		top: 100px;
		@include breakpoint(mama-bear) {
			top:0;
		}
	}
}