// layout
$max-width: 1250px;


// spacing
$pad: 20px;

$margin-bottom: .5em;

// colors
$wide_bg : #999999;

$bg : #fbfbfb;

$body_color	:#333333;

$off_white: #fbfbfb;
$light_grey: #b4b4b4;

$dark_grey: #8f8f8f;

$darker_grey: #333;


$green1: #999965;
$red: #990100;
$yellow: #f9b62a;
$green2: #6d9733;




// fonts
$body_font : 'texgyreherosregular', sans-serif;
$body_font_size : 16px;
$body_line_height : 1.5em;
$heading_font : 'texgyreheroscnregular', sans-serif;
$mid_font : 'texgyreheroscnregular', sans-serif;
$letter-spacing: .2em;


// headings
$h1-size:           3em; // .alpha
$h2-size:           2.5em; // .beta
$h3-size:           1.5em; // .gamma
$h4-size:           1.2em; // .delta
$h5-size:           1em; // .epsilon
$h6-size:           1em; // .zeta

$h2-size-bookpage: 36px;

// links
$link_color: royalblue;
$link_hover_color: red;



$milli-size:        12px;
$micro-size:        10px;




.test {
font-family:'Virtuosa Classic LT W01';
font-family:'Garamond Prmr W01 Md';
font-family:'Garamond Prmr W01 Dspl';
font-family:'Lucida Sans W01 Roman';
font-family:'Gill Sans W04 Condensed';
font-family:'Neue Helvetica W04 39 C1289726';
font-family:'HelveticaNeueW02-ThinCn 674417';
font-family:'HelveticaNeueW02-Thin';
font-family:'Minion W01 Cap Regular';


font-family: 'PT Sans', sans-serif;

}





