.media_list {
  max-width: $inner_width;
  margin: 0 auto;

  .item-content {
    max-width: $max_line_length;
    background-color: $off_white;
    color: $body_color;
  }

  @include breakpoint(medium-up) {
    .item-content {
      padding: 1rem 1rem 1rem 0;
    }
  }
}

.media-col {
  .brd-line {
    display: none;
  }
}

.Media_meta {
  margin-bottom: 1.5rem;
  font-style: italic;
  color: lighten($body_color, 50%);
}

.Media_title {
  margin: 0 0 0 0;
  padding-top: 0.5rem;
}

.Media_co {
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}

@include breakpoint(large-up) {
  .Media {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    display: flex;
  }

  .Media_video {
    margin-right: 2rem;
  }

  .Media_title {
    padding-top: 1rem;
  }

  .media-col {
    .brd-line {
      display: block;
      margin-bottom: 1rem;
    }
  }
}

.Media_thumbnail {
  width: 100px;
}

// .page-id-736 {
//   .flex-item {
//     display: flex;
//     align-items: flex-end;

//     .Media_thumbnail {
//       margin-right: 1rem;
//     }
//   }

//   .Media_co,
//   .Media_meta {
//     padding-left: calc(100px + 1rem);
//   }
// }
