.media_list {
  max-width: $inner_width;
  margin: 0 auto;
}

.media-col {
  .brd-line {
    display: none;
  }
}

.Media_meta {
  margin-bottom: 1.5rem;
  font-style: italic;
  color: lighten($body_color, 50%);
}

.Media_title {
  margin: 0 0 0 0;
  padding-top: 0.5rem;
}

.Media_co {
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}

@include breakpoint(large-up) {
  .Media {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    display: flex;
  }

  .Media_video {
    margin-right: 2rem;
  }

  .Media_title {
    padding-top: 1rem;
  }

  .media-col {
    .brd-line {
      display: block;
    }
  }
}
