.footer {
  width: $inner_width;
  margin: 0 auto;
  padding: 2rem 0;

  @include breakpoint(medium-up) {
    margin: 0 auto 4rem auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.mc_signup-wrapper,
.footer-details {
  display: block;
  @include breakpoint(small-only) {
    margin-bottom: 2rem;
  }
}

.mc_signup-wrapper {
  @include breakpoint(medium-up) {
    width: 400px;
  }
}

.footer-details {
  font-style: italic;
  font-size: 0.9em;
  color: #b4b4b4;

  @include breakpoint(medium-up) {
    width: 300px;
    text-align: right;
  }
}
