#colophon {
  width: 100%;
  background-color: black;
}

.site-footer {
  width: $inner-width;
  margin: 0 auto;
}

.footer-details {
  text-align: right;
  color: $light_grey;
  padding-bottom: 3rem;
  font-style: italic;
  font-size: 0.9em;
  color: #b4b4b4;
}
