.mc_signup {
  background-color: black;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.mc_signup-title {
}

.mc_signup-input {
  width: 90%;
  @include breakpoint(medium-up) {
    width: 320px;
  }
  font-family: $heading_font;
  font-size: inherit;
  appearance: none;
  outline: 0;
  border: 0;
  display: block;
  margin-right: 1rem;
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
  &::placeholder {
    color: white;
  }
  &:active,
  &:focus,
  &:focus-within {
    background-color: black;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border-bottom: 1px solid white;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.mc_signup-submit {
  font-size: inherit;
  appearance: none;
  outline: 0;
  border: 0;
  display: block;
  background-color: black;
  width: 1em;
  height: 1em;
  svg {
    width: 1em;
    height: 1em;
    fill: white;
  }
}

.indicates-required {
  display: none;
}
