// over-rides for workshops page
#post-23 {
  .entry-content {
    margin: 0;
  }

  &.item-content {
    @extend .tint;
  }
}

// over-rides for Calendar page

#post-143 {
  &.item-content {
    @extend .tint;
  }
}

.media {
  .entry-title {
    margin-top: 1.5em;
  }
}

// contact page
#post-92 {
  .item-content {
    background-color: $tint_light;
    color: $body_color;
    margin-top: 1em;
    padding: 1em;

    h1 {
      color: $body_color;
    }

    .brd-line {
      color: $body_color;
    }
    p {
      margin: 0;
    }
  }
}

// time dropper
.post-35 {
  .item-content {
    @extend .tint;
  }
}

.post-704 {
  .item-content {
    @extend .tint;
  }
  .content_wrap {
    @include breakpoint(medium-up) {
      margin-top: 3rem;
    }
  }
}

// work
#post-15 {
  &.item-content {
    @extend .tint;
  }
}
