.media {
  .entry-title {
    margin-top: 1.5em;
  }
}

// contact page
#post-92 {
  .item-content {
    background-color: $tint_light;
    color: $body_color;
    margin-top: 1em;
    padding: 1em;

    h1 {
      color: $body_color;
    }

    .brd-line {
      color: $body_color;
    }
  }
}

.post-704 {
  .content_wrap {
    @include breakpoint(medium-up) {
      margin-top: 3rem;
    }
  }
}

// about
#post-30 {
  background-color: $off_white;
  color: $body_color;
}
