// layout
$max-width: 100%;

// breakpoints
$tab_land: 1024px;
$tab_port: 1000px;
$mama-bear : 769px;
$baby-bear : 560px;
$slide_switch : 480px;


// spacing
$pad: 20px;
$margin-bottom: .5em;



// colors
$bg : #fbfbfb;
$body_color	:#333333;
$off_white: #fbfbfb;
$light_grey: #b4b4b4;
$grey: #666;




// fonts
$body_font : TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$body_font_size : 17px;
$smaller-font-size: 15px;
$body_line_height : 1.5em;
$heading_font : 'Roboto', 'News Cycle', sans-serif; // 'texgyreherosregular', sans-serif;
$letter-spacing: .2em;
$heading_weight: 300;


// headings
$h1-size:           2.5em; // .alpha
$h2-size:           2.5em; // .beta
$h3-size:           1.5em; // .gamma
$h4-size:           1.2em; // .delta
$h5-size:           1em; // .epsilon
$h6-size:           1em; // .zeta

$h2-size-bookpage: 36px;

// links
// $link_color: $body_color;
// $link_hover_color: #8E1B1C;



$milli-size:        12px;
$micro-size:        10px;







